$spacing: var(--mui-spacing);
$spacing-2: calc($spacing * 2);
$spacing-3: calc($spacing * 3);
$spacing-4: calc($spacing * 4);
$spacing-5: calc($spacing * 5);
$spacing-6: calc($spacing * 6);

$color-light-grey: rgba(246 247 248 / 50%);

@function getSize($multiplier) {
  @return calc($multiplier * $spacing);
}
