@use "@app/app/_base" as *;

.gif-tile-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gif-title-container {
  min-height: getSize(7.5);
}

.gif-image {
  width: getSize(25);
  height: getSize(18.75);
}

.save-button-container {
  display: flex;
  justify-content: center;
}
